.flex-container {
    display: flex;gi
}

/* this selector selects all divs inside of .flex-container */
.flex-container div {
    background: blue;
    border: 4px solid brown;
    height: 100px;
    flex: 1;
}

.flex-growth{
    display: flex;gi
}

    
.flex-growth div {
    background-color: green;
    border: 4px solid brown;
    height: 100px;
    flex: 1 1 0%;
}

.flex-growth .two {
    flex: 2 1 0%;
} /* Flex Grow used above the .two specifying div with the class "two" only the center (2) grows */

.flex-lists{
    display: flex;gi
}

.flex-lists div {
    background-color: red;
    border: 4px solid brown;
    height: 100px;
    flex: 1 1 auto;
}

.flex-lists .two {
    flex-shrink: 0; 
}